@import 'tailwindcss';
@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';

@layer utilities {
  @keyframes grow {
    0% {
      width: 0%;
    }
    100% {
      width: 100%;
    }
  }
  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-180deg);
    }
  }
  .font-dmsans {
    font-family: 'DM Sans', sans-serif;
  }
  .animate-grow {
    animation: grow 0.5s ease-out forwards;
  }
  .animate-rotate {
    animation: rotate 1s ease-out forwards;
    animation-delay: 400ms;
  }
}

@theme {
  --font-quicksand: 'Quicksand', sans-serif;
  --font-dmsans: 'DM Sans', sans-serif;
}

.custom-cursor {
  cursor: url('./assets/slider.svg') 16 16, auto;
}

.swiper-button-prev,
.swiper-button-next {
  z-index: 100 !important;
}
